@import "tailwindcss";
@theme{
    --content-width: clamp (200px, 90%, 1440px);
    --font-headings: "PT Serif", serif;
    --font-body: "Atkinson Hyperlegible", sans-serif;
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6, {
        /*font-family:var{--font-headings);
        font-weight: 700 */
        @apply font-headings font-bold;
    }
    h1 {
        @apply text-4xl md:text-5xl
    }
    h2 {
        @apply text-2xl md:text-3xl
    }
    h3 {
        @apply text-lg md:text-xl;
    } 
    p{
    @apply font-body prose max-w-[60ch];
}
    svg {
        @apply w-12;
    }
    .cls-1 {
        fill: var(--color-teal-600);
        /*fill: teal;*/
    }
}